
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
.forget-three-head{
    font-size: 0.31rem;
    width: 100%;
    text-align: center;
    position: relative;
    height:1.4rem;
    line-height: 1.4rem;
    a{
        position: absolute;
        width: 0.2rem;
        height: 0.29rem;
        top: 0.05rem;
        left: 0.24rem;
        img{
            width: 100%;
            height: 100%;
        }
    }
    span{
//      display: inline-block;
//      margin-top: 0.5rem;
    }
}
.forget-three-list{
    margin-top: 0.27rem;
    width: 100%;
    p:nth-child(1),p:nth-child(2){
        width: 5.82rem;
        height: 0.88rem;
        margin-left: 0.27rem;
    }
    p:nth-child(1){
        font-size: 0.3rem;
    }
    p:nth-child(2){
        font-size: 0.27rem;
        position: relative;
        border-bottom: 1px solid #ffc830;
        input{
            width:5.82rem;
            padding-left: 0.52rem;
            height: 100%;
            border: none;
            line-height: 0.88rem;
            font-size: 0.25rem;
        }
        span:nth-of-type(1){
            position: absolute;
            left:0 ;
            top: 0.28rem;
            width: 0.28rem;
            height: 0.34rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        span:nth-of-type(2){
             position: absolute;
             right: 0.14rem;
             top: 0.28rem;
             width: 0.4rem;
             height: 0.24rem;
             img{
                width: 100%;
                height: 100%;
            }
        }
    }
    p:nth-child(3){
        margin-top: 0.27rem;
        width: 6.04rem;
        height: 0.88rem;
        margin-left: 0.17rem;
        border-radius: 0.5rem;
        input{
            height:0.88rem;
            width: 6.04rem;
            background-color: #ffc830;
            font-size: 0.28rem;
            color: white;
            border: none;
            text-align: center;
            border-radius: 0.5rem;
        }
    }
}

.shadow{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background:rgba(102,102,102,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        width:4.5rem;
        height: 2.47rem;
        background-color: white;
        font-size: 0.28rem;
        border-radius: 0.2rem;
        text-align: center;
      p:nth-of-type(1){
          height: 1.82rem;
          line-height: 1.82rem;
      }
        p:nth-of-type(2){
            width:4.5rem;
            height: 0.65rem;
            input{
                width:100%;
                height: 100%;
                text-align: center;
                line-height: 0.66rem;
                border: none;
                background-color: #ffd974;
                color: white;
                font-size: 0.34rem;
                border-bottom-left-radius: 0.2rem;
                border-bottom-right-radius: 0.2rem;
            }
        }
    }
}