*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body,html{
    width: 100%;
    height: auto;
}
header{
    background: #FFAB25;
    height: 19.7rem;
    div{
        padding-top: 4.3rem;
        width: 8.2rem;
        height: 8.2rem;
        margin: 0 auto;
        img{
           width: 100%;
        }
    }
    p{
        margin-top: 1.3rem;
        margin-left: 11.1rem;
        text-align: center;
        display: flex;
        height: 1.6rem;
        align-items: center;
        span:nth-child(1){
            color: ghostwhite;
        }
        span:nth-child(2){
            border-radius: 5px;
            font-size: 0.9rem;
            padding: 0.1rem 0.1rem;
            margin: 0.1rem;
            display: block;
            background: #FEC802;
            color: ghostwhite;
        }
    }
}
.wrapper{
    border-bottom: 1px solid gainsboro;
    height: 9.4rem;
    overflow: hidden;
    font-size: 1rem;
    display: flex;
    background: white;
    div:nth-child(1){
        width: 8.3rem;
        height: 9.4rem;
        margin-right: 6.1rem;
        margin-left: 1rem;
        color: #999999;
        background: white;
        p:nth-child(1){
        padding-top: 1rem;
        }
        p:nth-child(2){
            margin-top: 2.25rem;
            margin-bottom: 1rem;
            span{
                font-size: 2.8rem;
                color: #FA5B05;
            }
        }
    }
    div:nth-child(2){
        width: 16.4rem;
        height: 9.4rem;
        background: white;
        height: 9.4rem;
        color: #999999;
        p{
          padding-top: 1rem;  
        }
        img{
            margin-top: 0.8rem;
             width: 100%;
        }
    }
}
.gra{
    height: 0.8rem;
    background: #F5F5F5;
}
.yy{
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
  background: white;
  ul{
      li{
          background: white;
          height: 3.7rem;
          display: flex;
          padding-left:1rem ;
          div:nth-child(1){
              margin-top: 1rem;
              width: 2rem;
              height: 2rem;
               display: flex;
               align-items: center;             
              img{
                  width: 100%;
              }
          }
         
          div:nth-child(2){
              margin-top: 1rem;
              border-bottom: 1px solid gainsboro;
              margin-left: 1rem;
              width: 27rem;
              display: flex;
              justify-content: space-between;
              p{
                  margin-top: 0.2rem;
              }
              p:nth-child(2){
                  color: #F86F29;
                  display: flex;
//                align-items: center;
                  img{
                      width: 15%;
                  }
                 span:last-child{
                     border-bottom: 0;
                 } 
              }
          }
      }
  }
}
.ga{
    height: 0.8rem;
    background: #F5F5F5;
}
.footer{
    border-bottom: 1px solid gainsboro;
    ul{
      li{
          background: white;
          height: 3.7rem;
          display: flex;
          padding-left:1rem ;
          div:nth-child(1){
              margin-top: 1rem;
              width: 2rem;
              height: 2rem;
               display: flex;
               align-items: center;             
              img{
                  width: 100%;
              }
          }
         
          div:nth-child(2){
              margin-top: 1rem;
              border-bottom: 1px solid gainsboro;
              margin-left: 1rem;
              width: 27rem;
              display: flex;
              justify-content: space-between;
              p{
                  margin-top: 0.2rem;
              }
              p:nth-child(2){
                  color: #F86F29;
                  display: flex;
//                align-items: center;
                  img{
                      width: 15%;
                  }
                
              }
          }
      }
  }
}
